######################################
#
######################################

#-------------------------------------
# 共通除外ファイル・ディレクトリ
#-------------------------------------

# Docker
.dockerignore
compose.yml
compose.build.yml

# Git
.git
.gitignore

# VS Code Editor
.vscode
.devcontainer
.editorconfig

# environment variable file
.env
.env.example

# document
README.md
/docs

# etc
/infrastructure
Makefile
API.rest

#-------------------------------------
# Rust
#-------------------------------------

# Rust
target/
